<h2 class="text-center">Edit task:</h2>

<div class="row align-items-center justify-content-center">
<%= form_with(model: [ @project, @task], local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-center">Ouch!
        <%= pluralize(@task.errors.count, "error") %> prohibited
        this task from being saved:
      </h2>
      <ul class="text-center">
        <% @task.errors.full_messages.each do |msg| %>
          <li class="text-center"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="text-center">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p class="text-center">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  <p class="text-center">
    <%= form.label :status %><br>
    <%= form.text_field :status %>
  </p>
  <p class="text-center">
    <%= form.submit %>
  </p>
<% end %>
</div>


<p class="text-center"><%= link_to 'Back', projects_path %></p>