<div class="row align-items-center justify-content-center">
<%= form_with model: @project, local: true do |form| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2 class="text-center">Ouch!
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul class="text-center">
        <% @project.errors.full_messages.each do |msg| %>
          <li class="text-center"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="text-center">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p class="text-center">
    <%= form.label :summary %><br>
    <%= form.text_area :summary %>
  </p>

  <p class="text-center">
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </p>

  <p class="text-center">
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </p>

  <p class="text-center">
    <%= form.submit %>
  </p>

<% end %>
</div>