<% if @project.any? %>
<h1>Here they are! Our projects!</h1>
<h5>Just look at them..what a beauty!</h5>
  <table>
  <tr>
    <th>Name</th>
    <th>Summary</th>
    <th>Start date</th>
    <th>End date</th>
    <th></th>
  </tr>

  <% @project.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.summary %></td>
      <td><%= project.start_date %></td>
      <td><%= project.end_date %></td>
      <td>| <%= link_to 'Show it!', project_path(project) %> |</td>
      <td> <%= link_to 'Edit it!', edit_project_path(project) %> |</td>
      <td> <%= link_to 'Destroy', project_path(project),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %> |</td>
    </tr>
  <% end %>
</table>

<p>
Want some more??
<%= link_to 'New project', new_project_path %>
</p>
<% else %>
  <h1>Ho-ho..There are no projects!</h1>
  <%= link_to 'Create one!', new_project_path %>
<% end %>
